{
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 120,
  "importOrder": ["^@.*/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
